<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <script>
        function searchEntries(){
            var input,filter,table,tr ;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("entriesTable");
            tr = table.getElementByTagName("tr");

            for (i=0;i<tr.length;i++) {
                td = tr[i].getElementByTagName("td")[0];
                if(td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display="";
                    }
                    else{
                        tr[i].style.display = "none";
                    }
                }
            };
        }
    </script>
</head>
<body>
    <a href="\">Home</a>
    <label for="searchInput">Search:</label>
    <input type="text" id="searchInput" onkeyup="searchEntries()" placeholder="Type to search">

    {%if all_entries%}
    <table class="table table-dark table-hover" id="entriesTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Subject</th>
                <th scope="col">Message</th>
            </tr>
        </thead>
        

    </table>
</body>
</html>
