<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css"
    <script>
        function searchEntries(){
            var input,filter,table,tr ;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("entriesTable");
            tr = table.getElementByTagName("tr");

            for (i=0;i<tr.length;i++) {
                td = tr[i].getElementByTagName("td")[0];
                if(td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display="";
                    }
                    else{
                        tr[i].style.display = "none";
                    }
                }
            };
        }
    </script>
</head>
<body>
    <a href="\">Home</a>
    <label for="searchInput">Search:</label>
    <input type="text" id="searchInput" onkeyup="searchEntries()" placeholder="Type to search">

    {%if all_entries%}
    <table class="table table-dark table-hover" id="entriesTable">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Subject</th>
                <th scope="col">Message</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for entry_key, entry_data in all_entries.items() %}
            <tr>
                <td>{{entry_data.get('name','N/A)}}</td>
                <td>{{entry_data.get('email','N/A)}}</td>
                <td>{{entry_data.get('subject','N/A)}}</td>
                <td>{{entry_data.get('message','N/A)}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No entries available</p>
    {% endif %}
</body>
</html>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Get In Touch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/new_item" method="post">
                    <div class="form-group"></div>
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username"
                </div>
                </form>
            </div>
        </div>
    </div>












</div>
