<!DOCTYPE html>
<html lang="en">
<head>
      
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title> Edit  </title>
      <style>
        body {
        background: #ecf0f3;
    }
      </style>
</head>
  <body>
  
  <div class="container mt-5">
        <h1>Edit Window</h1>
    
        <form method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" class="form-control" value="{{ item.name }}" required>
            </div>

div class="form-group">
    <label for="operationtheatre">Department:</label>
    <select name="operationtheatre" class="form-control" required>
        <option value="EMERGENCY" {% if item.operationtheatre == 'Emergency' %}selected{% endif %}>Emergency</option>
        <option value="GENERAL" {% if item.operationtheatre == 'General' %}selected{% endif %}>General</option>
       
    </select>
</div>
           <div class="form-group">
                <label for="doctorassigned">Assigned Doctor:</label>
                <select name="doctorassigned" class="form-control" required>
                    <option value="Dr. Sage" {% if item.doctorassigned == 'Dr. Sage' %}selected{% endif %}>Dr. Sage</option>

          
    <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
</body>
</html>
