<!DOCTYPE html>
<html lang="en">
<html>
<head>

<title> Edit  </title>
  
</head>
  <body>
    <h1>Edit Page</h1>
  </body>
  <div class="container mt-5">
        <h1>Edit Window</h1>
    
        <form method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" class="form-control" value="{{ item.name }}" required>
            </div>

div class="form-group">
    <label for="dept">section:</label>
    <select name="operationtheatre" class="form-control" required>
        <option value="Milk" {% if item.operationtheatre == 'Milk' %}selected{% endif %}>Milk</option>
        <option value="Bread" {% if item.operationtheatre == 'Bread' %}selected{% endif %}>Bread</option>
       
    </select>
</div>
          
 <div class="form-group">
                <label for="name">Message:</label>
                <input type="text" message="messge" class="form-control" value="{{ item.message }}" required>
            </div>
          
    <button type="submit" class="btn btn-primary">Submit</button>
        </form>
  </div>
</html>
