<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Page</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="css/style.css">


</head>
<body>
<!--Adding Nav Bar for the heading -->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
	<div class="container-fluid">
	  <a class="navbar-brand" href="\">TODO</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="\">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active" href="/admin">Admin Login</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>

    {% if data %}
<table class="table table-dark table-hover" id="entriesTable">
    <thead>
        <tr>
            <th scope="col">Name></th>
            <th scope="col">Email></th>
            <th scope="col">Subject></th>
            <th scope="col">Message></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for entry_key, entry_data in all_entries.items() %}
        <tr>
            <td>{{ entry_data.get('name', 'N/A') }}</td>
            <td>{{ entry_data.get('email', 'N/A') }}</td>
            <td>{{ entry_data.get('subject', 'N/A') }}</td>
            <td>{{ entry_data.get('message', 'N/A') }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  {% else %}
  <p>No entries available</p>
  {% endif %}
</body>
</html>
