<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home Page</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="css/style.css">

<script>
  function searchEntries(){
      var input,filter,table,tr,td,i,txtValue ;
      input = document.getElementById("searchInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("entriesTable");
      tr = table.getElementByTagName("tr");

      for (i=0;i<tr.length;i++) {
          td = tr[i].getElementByTagName("td")[0];
          if(td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  tr[i].style.display="";
              }
              else{
                  tr[i].style.display = "none";
              }
          }
      };
  }
</script>

</head>
<body>
<!--Adding Nav Bar for the heading -->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
	<div class="container-fluid">
	  <a class="navbar-brand" href="\">MED | CARE</a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link active" aria-current="page" href="\">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active" href="/admin">Admin Login</a>
		  </li>
		</ul>
	  </div>
	</div>
  </nav>
  <br><br>

  <h1 style="text-align: center;">Welcome To Med + Care Operation Center</h1>

    {% if data %}
<table class="table table-dark table-hover" id="entriesTable">
    <thead>
        <tr>
            <th scope="col">Name></th>
            <th scope="col">Email></th>
            <th scope="col">Subject></th>
            <th scope="col">Message></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for item_key, item in data.items() %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.subject }}</td>
            <td>{{ item.message }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
  {% else %}
  <p>No entries available</p>
  {% endif %}
</body>
</html>
